body {
  font-family: Arial, Helvetica, sans-serif;
  color: #02123b;
  background-color: rgb(233, 234, 236);
  padding-left: 10;
  padding-top: 10;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #434650;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

h5 {
  color: rgb(92, 92, 92);
}

table.gridtable a.del {
  color: white;
  background-color: red;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-radius: 2.5px;
}

table.gridtable a.edit {
  color: white;
  background-color: rgb(29, 136, 127);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-radius: 2.5px;
}

table.gridtable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-collapse: collapse;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #dad6d6;
  background-color: #bdc9f1;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #dad6d6;
  background-color: #ffffff;
}

label {
  font-size: medium;
}

input[type="text"],
select {
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(83, 124, 228, 0.24);
  padding: 10;
}

input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  border: 1px solid #204ccc;
  padding: 10px;
  background-color: #204ccc;
  box-shadow: 0 3px 8px rgba(83, 124, 228, 0.24);
  color: white;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px auto;
  display: block;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #081f64;
}

div.form {
  display: block;
  text-align: center;
}

.input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ffffff;
  background-color: #afb6cc25;
  padding: 20px;
  border-radius: 10px;
}

.insert {
  border: 1px solid #204ccc;
  padding: 10px;
  background-color: #204ccc;
  color: white;
  box-shadow: 0 3px 8px rgba(83, 124, 228, 0.24);
  border-radius: 5px;
}

.insert:hover {
  background-color: #081f64;
}
